what some of the examples use:
sympy 
numpy
pandas
matplotlib
statsmodels
QuantLib
scipy
pandas_datareader

jupyter
IPython
pylab
zlib



FOR OUR WORK:
import numpy
import pandas
import matplotlib.pyplot
import statsmodels.api
import math
from scipy.misc import derivative